#nutrition-hero {
  position: relative; /* Ensure the section container is positioned relatively */
}

.calculateBMI {
  position: absolute;
  top: 20px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculateBMI .btn-success {
  transform: translateX(-100%);
  transition: transform 0.3s ease; /* Smooth transition */
}

.calculateBMI .btn-success:hover {
  transform: translateX(
    -50%
  ); /* Move button to its original position on hover */
}
