.carousel-container {
  width: 100%;
  height: 100vh; /* Make the carousel height dynamic based on viewport height */
  margin: auto;

  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  opacity: 0.9;
}

/* =====================> */
/* Extra small devices (phones, less than 576px) */
@media (max-width: 576px) {
  /* Your CSS here for extra small devices */
  .carousel-container {
    height: 30vh; /* Reduce the height for smaller screens */
    overflow: hidden;
    margin-bottom: -45px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Your CSS here for small devices */
  .carousel-container {
    height: 40vh; /* Reduce the height for smaller screens */
    overflow: hidden;
    margin-bottom: -45px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Your CSS here for medium devices */
  .carousel-container {
    height: 50vh; /* Reduce the height for smaller screens */
    overflow: hidden;
    margin-bottom: -45px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Your CSS here for large devices */
  .carousel-container {
    height: 60vh; /* Reduce the height for smaller screens */
    overflow: hidden;
    margin-bottom: -45px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Your CSS here for extra large devices */
  .carousel-container {
    height: 75vh; /* Reduce the height for smaller screens */
    overflow: hidden;
    margin-bottom: -45px;
  }
}

/* XXL devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your CSS here for extra large screens */
  .carousel-container {
    height: 80vh; /* Reduce the height for smaller screens */
    overflow: hidden;
    margin-bottom: -45px;
  }
}
