.carousel-container {
  width: 100%;
  height: 100vh; /* Make the carousel height dynamic based on viewport height */
  margin: auto;

  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .carousel-container {
    height: 50vh; /* Reduce the height for smaller screens */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .carousel-container {
    height: 65vh; /* Adjust height for medium-sized devices */
  }
}

@media (min-width: 1200px) {
  .carousel-container {
    height: 75vh; /* Maintain a larger height for larger displays */
  }
}
